<%- include("template/cabecera2", {tituloWeb: 'Detalle de productos'}) %>

    <div class="container">
        <h1>Detalle Productos</h1>
        <% if (error) { %>
            <p>
                <%= mensaje %> 
            </p>
            <a href="/productos" class="btn btn-dark btn-block">Volver a Productos</a>
        <% } %>

        <% if (!error) { %>

            <form id="formularioEditar" data-id="<%= prod.id %>">
                <label for="" class="my-2">Nombre</label>
                <input 
                    type="text"
                    class="form-control my-2"
                    name="nombre"
                    value="<%= prod.nombre %>"
                    id="nombreInput"
                >
                <label for="" class="my-2">Precio</label>
                <input 
                    type="number"
                    class="form-control my-2"
                    name="precio"
                    value="<%= prod.precio %>"
                    id="precioInput"
                >
                <label for="" class="my-2">Descripcion</label>
                <input 
                    type="text"
                    class="form-control my-2"
                    name="descripcion"
                    value="<%= prod.descripcion %>"
                    id="descripcionInput"
                >
                <label for="" class="my-2">Categoria</label>
                <input 
                    type="text"
                    class="form-control my-2"
                    name="categoria"
                    value="<%= prod.categoria %>"
                    id="categoriaInput"
                >
                <label for="" class="my-2">Codigo</label>
                <input 
                    type="text"
                    class="form-control my-2"
                    name="codigo"
                    value="<%= prod.codigo %>"
                    id="codigoInput"
                >
                <div class="container text-center mt-4">
                    <button
                    class="btn btn-warning btn-lg"
                    type="submit"
                >
                    Editar
                </button>
                <a href="/productos" class="btn btn-primary btn-lg">Volver a Productos</a>
                <button class="btn btn-danger btn-lg " id="btnEliminar" data-id="<%= prod.id %>" >Eliminar</button>
                </div>

            </form>

            <hr>

        <% } %>
    </div>
    

<%- include("template/footer") %>


<script>

    const btnEliminar = document.querySelector('#btnEliminar')

    btnEliminar.addEventListener('click', async() => {
        console.log('me diste click')
        const id = btnEliminar.dataset.id
        console.log('id', id)
        try {
            const data = await fetch(`/productos/${id}`, {
                method: 'delete'
            })
            const res = await data.json()
            
            if(res.estado){
                window.location.href = '/productos'
            }else {
                console.log(res)
            }

        } catch (error) {
            console.log(error)
        }
    })

    const formularioEditar = document.querySelector('#formularioEditar')

    formularioEditar.addEventListener('submit', async(e) => {
        e.preventDefault()
        
        const nombre = formularioEditar.elements['nombre'].value
        const precio = document.querySelector('#precioInput').value
        const descripcion = document.querySelector('#descripcionInput').value
        const categoria = document.querySelector('#categoriaInput').value
        const codigo = document.querySelector('#codigoInput').value

        const id = formularioEditar.dataset.id
        
        try {
            const data = await fetch(`/productos/${id}`, {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({nombre, precio, descripcion, categoria, codigo})
            })
            const res = await data.json()
            
            if(res.estado){
                window.location.href = '/productos'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }

    })

</script>