<%- include("template/cabecera2", {tituloWeb: 'P치gina de inicio'}) %>

    <div class="container">

        <h1>CRUD Mongo</h1>

        <a
            class="btn btn-success btn-block my-4"
            href="/productos/crear"
            style="background-color: rgba(9,23,45,255);"
        >
            Crear nuevo producto
        </a>

        <table class="table table-dark table-striped"  style="background-color: rgba(9,23,45,255);">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripci칩n</th>
                <th scope="col">Categoria</th>
                <th scope="col">C칩digo</th>
                <th scope="col">Acci칩n</th>
              </tr>
            </thead>
            <tbody>
                
                <% if (arrayProductos.length > 0) { %>
                    <% arrayProductos.forEach(prod => { %>
                        
                        <tr>
                            <th scope="row"><%= prod.id %> </th>
                            <td><%= prod.nombre %></td>
                            <td><%= prod.precio %></td>
                            <td><%= prod.descripcion %></td>
                            <td><%= prod.categoria %></td>
                            <td><%= prod.codigo %></td>
                            <td> 
                                <a href="productos/<%= prod.id %>" class="btn btn-warning text-dark btn-sm">Editar</a>
                            </td>
                        </tr>
                    
                    <% }) %>
                <% } %>

            </tbody>
          </table>

        
    </div>

<%- include("template/footer") %>